h1 {
    font-size: 300%;
    background-color: aquamarine;
}
.question {
    font-weight: bold;
}
#content1 {
    
}
index.html{
    background-color: aqua;
}
html{
    background-color: rgb(160, 160, 160);
}