h1 {
    font-size: 300%;
    background-color: aquamarine;
}
.question {
    font-weight: bold;
    font-size: 140%;
}
index.html{
    background-color: aqua;
}
html{
    background-color: rgb(160, 160, 160);
}
#content1{
    font-size: 110%;
}
#content2{
    font-size: 110%;
}